body{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .contentNav{
        background-color: #b2ffff;
        width: 15vw;
        height: 100vh;
    }
}