body{
    margin: 0;
    padding: 0;
}
/* Desktop Media Query */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    #loginForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 40vw;
        background-color: #e0ffff;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px black;
    }
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    input{
        border: 1px solid #808080;
        width: 20vw;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        background: none;
        z-index: 1;
    }
    .labelUsername{
        position: absolute;
        font-family: 'Roboto', sans-serif;
        color: #808080;
        background-color: #e0ffff;
        transition: 0.2s ease;
        top: 50px;
        left: 140px;
    }
    .labelPassword{
        position: absolute;
        font-family: 'Roboto', sans-serif;
        background-color: #e0ffff;
        color: #808080;
        transition: 0.2s ease;
        top: 108px;
        left: 140px;
    }
    input:focus, 
    input:valid{
        border: 1px solid black;
    }
    input:focus + .labelUsername, 
    input:valid + .labelUsername{
        color: black;
        height: 10px;
        line-height: 8px;
        transform: translate(-20px, -25px) scale(0.8);
        padding: 10px 10px;
        z-index: 1111;
    }
    input:focus + .labelPassword, 
    input:valid + .labelPassword{
        color: black;
        height: 10px;
        line-height: 8px;
        transform: translate(-20px, -25px) scale(0.8);  
        background-color: #e0ffff;
        padding: 10px 10px;
        z-index: 1;
    }
    .submitBTN{
        width: 21.5vw;
        height: 5vh;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #4400ff;
        border-radius: 5px;
        cursor: pointer;
    }
    .forgotPassword{
        text-decoration: none;
        color: #4400ff;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
    .createAccount{
        margin-top: 30px;
        width: 21.5vw;
        height: 5vh;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #808080;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 5vh;
    }
    #imgLogo{
        position: absolute;
        width: 40vw;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
    #box{
        width: 100vw;
        height: 100vh;
        background-color: #efcc00;
    }
    #circle{
        width: 2000px;
        height: 2000px;
        border-radius: 100%;
        background-color: white;
        position: fixed;
        top: 15%;
        left: -35%;
    }
    #imgICON{
        position: absolute;
        width: 10vw;
        top: 10%;
        left: 48%;
        transform: translate(-50%, -50%);
        transform: scaleY(-1);
        transform: scaleX(-1);
    }
}

/* Tablet Media Query*/

@media screen and (min-width: 768px) and (max-width: 1023px)  {
    #loginForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 50vw;
        background-color: #e0ffff;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px black;
    }
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    input{
        border: 1px solid #808080;
        width: 20vw;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        background: none;
        z-index: 1;
    }
    .labelUsername{
        position: absolute;
        font-family: 'Roboto', sans-serif;
        color: #808080;
        background-color: #e0ffff;
        transition: 0.2s ease;
        font-size: 14px;
        top: 33px;
        left: 120px;
    }
    .labelPassword{
        position: absolute;
        font-family: 'Roboto', sans-serif;
        background-color: #e0ffff;
        color: #808080;
        transition: 0.2s ease;
        font-size: 14px;
        top: 88px;
        left: 120px;
    }
    input:focus, 
    input:valid{
        border: 1px solid black;
    }
    input:focus + .labelUsername, 
    input:valid + .labelUsername{
        color: black;
        height: 10px;
        line-height: 8px;
        transform: translate(-20px, -25px) scale(0.8);
        padding: 10px 10px;
        z-index: 1111;
    }
    input:focus + .labelPassword, 
    input:valid + .labelPassword{
        color: black;
        height: 10px;
        line-height: 8px;
        transform: translate(-20px, -25px) scale(0.8);  
        background-color: #e0ffff;
        padding: 10px 10px;
        z-index: 1;
    }
    .submitBTN{
        width: 21.5vw;
        height: 5vh;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #4400ff;
        border-radius: 5px;
        cursor: pointer;
    }
    .forgotPassword{
        text-decoration: none;
        color: #4400ff;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
    .createAccount{
        margin-top: 30px;
        width: 21.5vw;
        height: 5vh;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #808080;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 5vh;
    }
    #imgLogo{
        position: absolute;
        width: 40vw;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #box{
        width: 100vw;
        height: 100vh;
        background-color: #efcc00;
    }
    #circle{
        width: 1000px;
        height: 1000px;
        border-radius: 100%;
        background-color: white;
        position: fixed;
        top: 50%;
        left: -14%;
    }
    #imgICON{
        position: absolute;
        width: 10vw;
        top: 50%;
        left: 18%;
        transform: translate(-50%, -50%);
        transform: scaleY(-1);
        transform: scaleX(-1);
    }
}

/* Mobile Media Query*/

@media screen and (min-width: 320px) and (max-width: 767px) {
    #loginForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 75vw;
        background-color: #e0ffff;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px black;
    }
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    input{
        border: 1px solid #808080;
        width: 50vw;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        background: none;
        z-index: 1;
    }
    .labelUsername{
        position: absolute;
        font-family: 'Roboto', sans-serif;
        color: #808080;
        background-color: #e0ffff;
        transition: 0.2s ease;
        font-size: 14px;
        top: 33px;
        left: 50px;
    }
    .labelPassword{
        position: absolute;
        font-family: 'Roboto', sans-serif;
        background-color: #e0ffff;
        color: #808080;
        transition: 0.2s ease;
        font-size: 14px;
        top: 88px;
        left: 50px;
    }
    input:focus, 
    input:valid{
        border: 1px solid black;
    }
    input:focus + .labelUsername, 
    input:valid + .labelUsername{
        color: black;
        height: 10px;
        line-height: 8px;
        transform: translate(-20px, -25px) scale(0.8);
        padding: 10px 10px;
        z-index: 1111;
    }
    input:focus + .labelPassword, 
    input:valid + .labelPassword{
        color: black;
        height: 10px;
        line-height: 8px;
        transform: translate(-20px, -25px) scale(0.8);  
        background-color: #e0ffff;
        padding: 10px 10px;
        z-index: 1;
    }
    .submitBTN{
        width: 58vw;
        height: 5vh;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #4400ff;
        border-radius: 5px;
        cursor: pointer;
    }
    .forgotPassword{
        text-decoration: none;
        color: #4400ff;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
    .createAccount{
        margin-top: 30px;
        width: 58vw;
        height: 5vh;
        border: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #808080;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 5vh;
    }
    #imgLogo{
        position: absolute;
        width: 70vw;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #box{
        width: 100vw;
        height: 100vh;
        background-color: #efcc00;
    }
    #circle{
        width: 1000px;
        height: 1000px;
        border-radius: 100%;
        background-color: white;
        position: fixed;
        top: 50%;
        left: -100%;
    }
    #imgICON{
        position: absolute;
        width: 15vw;
        top: 30%;
        left: 5%;
        transform: translate(-50%, -50%);
        transform: scaleY(-1);
        transform: scaleX(-1);
        z-index: 1;
    }
}
